<section class="timer" ng-init="init()">
    <div class="content-wrapper">
        <div class="container-fluid">
            <h5>Task on progress :</h5>
            <div class="row col-md-12" style="margin-top: 25px;">
                <div class="col-sm-3">
                    <h5>Task : {{selectedTask.title}}</h5>
                </div>
                <div class="col-sm-3">
                    <h5>Timer :
                        <timer start-time="startTime" end-time="endTime" interval="1000" auto-start="false">{{hours}}:{{minutes}}:{{seconds}}</timer>
                    </h5>
                </div>
                <div class="col-sm-2">
                    <!--<button type="button" class="btn btn-success" ng-disabled="timerRunning" ng-click="resumeTimer()"><i-->
                            <!--class="fa fa-play"></i></button>-->
                    <!--<button type="button" class="btn btn-danger" ng-disabled="!timerRunning" ng-click="stopTimer()"><i-->
                            <!--class="fa fa-stop"></i></button>-->
                    <button type="button" class="btn btn-success" ng-click="updateTask()"><i
                            class="fa fa-save"></i></button>
                </div>
            </div>
            <div class="row col-md-12" style="margin-top: 25px">
                <div class="col-sm-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Owner</th>
                            <th>Due date</th>
                            <th>Timer</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="animate-repeat" ng-repeat="task in tasks | filter: { owner: user.id }">
                            <td><input type="text" class="form-control" name="title"
                                       ng-model="task.title" disabled></td>
                            <td><input type="text" class="form-control" name="owner"
                                       ng-model="user.full_name" disabled></td>
                            <td><input type="text" class="form-control" name="dueDate"
                                       ng-model="task.dueDate" disabled></td>
                            <td><input type="text" class="form-control" name="timer"
                                       ng-model="task.timer" disabled>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary" ng-click="selectTask($index)"><i
                                        class="fa fa-angle-up"></i></button>
                                <button type="button" class="btn btn-danger" ng-click=""><i
                                        class="fa fa-archive"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>