<section class="project" ng-init="init()">
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row col-md-12" style="margin-top: 25px">
                <div class="col-sm-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Creator</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="animate-repeat" ng-repeat="project in projects">
                            <td><input type="text" class="form-control" name="title"
                                       ng-model="project.title" disabled></td>
                            <td><input type="text" class="form-control" name="creator"
                                       ng-model="project.creator" disabled></td>
                            <td><input type="text" class="form-control" name="status"
                                       ng-model="project.status" disabled></td>
                            <td>
                                <button type="button" class="btn btn-primary" ng-click="selectTask($index)"><i
                                        class="fa fa-angle-up"></i></button>
                                <button type="button" class="btn btn-danger" ng-click=""><i
                                        class="fa fa-archive"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>